body {
  font-family: Arial, sans-serif;
  background-image: url("https://watchandlearn.scholastic.com/content/dam/classroom-magazines/watchandlearn/videos/animals-and-plants/plants/what-are-plants-/What-Are-Plants.jpg");
  background-repeat: no-repeat;     /* don't tile the image */
  background-size: cover;           /* fill container, maintain ratio */
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
}

h1 {
  color: #4f2a06;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background: #6a4014;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #56a731;
  color: rgb(255, 255, 255);
}

.result {
  margin-top: 20px;
}
